/* URLS MUST BE ABSOLUTE PATHS TO FONTS!!!! */
/* bricolage-grotesque-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/bricolage-grotesque-v8-latin-regular.woff2") format("woff2");
}

/* bricolage-grotesque-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/bricolage-grotesque-v8-latin-700.woff2") format("woff2");
}

/* public-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/public-sans-v21-latin-regular.woff2") format("woff2");
}

/* public-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/public-sans-v21-latin-600.woff2") format("woff2");
}
