body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 h1 {
  text-transform: uppercase;
  font-size: 4em;
  line-height: 1.1;
  color: black;
}
/* xl,lg,md,sm screen sizes*/
@media (max-width: 1280px) {
  h1 {
    font-size: 4em;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4em;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 2em;
  }
} 

h2 {
  text-transform: uppercase;
  font-weight:700;
  font-size: 3em;
  line-height: 1.1;
  color: black;
} 

h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.1;
  color: black;
} 

h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.1;
  color: black;
} 

p {
  font-size: 1em;
  line-height: 1.1;
  color: black;
} 

button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.0;
  background-color: #AEDBDE;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
} 

button:hover {
  background-color: red;
}