@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;

  --font-title: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-subTitle: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-body: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-main: #216869;
  --color-alt: #9cc5a1;
  --color-main-dark: #011432;
  --color-alt-dark: #3bd1f3;
}

@layer base {
  .body {
    @apply font-sans m-0 p-0 box-border;
  }

  .h1 {
    @apply uppercase text-[4em] font-bold text-black;
  }

  .h2 {
    @apply uppercase text-[3em] font-semibold text-black;
  }

  .h3 {
    @apply uppercase text-[2em] font-medium text-black;
  }

  .h4 {
    @apply uppercase text-[1em] font-normal text-black;
  }

  .p {
    @apply text-base leading-[1.1] text-black;
  }

  .button {
    @apply uppercase font-semibold text-base leading-[1.0] bg-[#cde9dc] text-black p-4 border-none rounded-[10px] cursor-pointer;
  }

  .button:hover {
    @apply bg-white border-2 border-black;
  }
}
