@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* fluid text needs adjusting */
body {
  @apply transition-colors duration-500 font-sans m-0 p-0 box-border text-[min(3vw,2vh)];
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;

  --font-title: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-subTitle: "Avenir", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-body: "Bitter", system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-main: #1f3b47ed;
  --color-alt: #4BA36F;
  --color-main-dark: #1f3b47;
  --color-alt-dark: #3d8069;


/* greens
--color-main: #818E75;
--color-alt: #A8B69A;
--color-main-dark: #53635D;
--color-alt-dark: #E0E2C6; */


/*  --color-main: #79abac;
  --color-alt: #aedbde;
  --color-main-dark: #326263;
  --color-alt-dark: #61999d;
   --color-main-dark: #325443;
  --color-alt-dark: #94a264; */
}

@layer base {
  h1 {
    @apply uppercase text-[4em] font-bold text-black ;
  }

  h2 {
    @apply uppercase text-[3em] font-bold text-black  leading-12;
  }

  h3 {
    @apply uppercase text-[2em] font-medium text-black ;
  }

  h4 {
    @apply uppercase text-[1em] font-semibold text-black  tracking-tighter;
  }

  p {
    @apply text-base leading-[1.1] text-black ;
  }

  button {
    @apply uppercase font-semibold text-base leading-[1.0] bg-red-500 text-black p-4 rounded-[10px] cursor-pointer ;
  }

  button:hover {
    @apply bg-gray-200;
  }

  a.email-link {
    @apply text-main text-base font-semibold cursor-pointer;
  }
  a.email-link:hover {
    @apply text-red-500;
  }
}

@layer components {
  .card {
    @apply text-black bg-white  h-fit m-2 mt-20 lg:mt-0 p-8 shadow-xl shadow-gray-200/30 dark:shadow-gray-200/30 rounded-lg flex flex-col relative;
  }
}