@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "./styles/fonts.css";

@theme {
  --font-main: "Bricolage Grotesque", sans-serif;
  --font-alt: "Public Sans", sans-serif;

  --breakpoint-*: initial;
  /* ipad */
  --breakpoint-sm: 24rem;
  /* tablet */
  --breakpoint-md: 50rem;
  /* laptop */
  --breakpoint-lg: 90rem;
  /* destop display */
  --breakpoint-xl: 120rem;

  /* --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px; */

  /*light mode */

  /* 4f72fb #022C3D*/
  /* I LIKE THIS COLOR BELOW */
  /* --color-alternate: #024059; */
  /* --color-alts: #a7d5f2;  */

  /* --color-alternate: #1E3FC2; */
  /* --color-alt: #a1cad7; */
  /* --color-dark: #0f2061; */
  /* --color-dark:#122574; */

  --color-alternate: #0038a8;
  /* --color-alternate:#0091C0; */
  /* A7DC6A #93C572 #002775*/
  --color-alt: #ddff00;
  --color-dark: #002775;

  /* --color-alt:#C7D8D0;  */
  /* --color-alt: #e1ff00; */
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(1.02);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.6s ease-in-out;
  }

  /* .text-fluid {
    @apply transition-colors duration-500 font-sans m-0 p-0 box-border;
    font-size: min(3vw, 2vh); 
  } */
}

@layer base {
  body {
    @apply font-main text-base font-black m-0 p-0 transition-all duration-300 ease-in-out;
    overflow-x: hidden;
  }

  /* .dark body {
    background-color: gray;
    color: white;
  } */

  h1 {
    @apply lg:text-[4.2em] text-[2.6em] font-bold lg:leading-15 leading-10 tracking-tighter text-black;
  }

  h2 {
    @apply lg:text-[3em] text-[2.2em] font-bold lg:leading-12 leading-8 tracking-tighter;
  }

  h3 {
    @apply uppercase text-[2em] font-medium;
  }

  h4 {
    @apply uppercase text-[1.2em] font-semibold tracking-normal text-alt;
  }
  h5 {
    @apply font-semibold text-lg tracking-normal text-alternate;
  }

  p {
    @apply text-[1em] font-normal leading-5 font-alt;
  }

  button {
    @apply relative overflow-visible uppercase font-alt font-bold leading-tight 
    shadow-lg px-6 py-2 rounded-2xl cursor-pointer bg-alt text-black 
    tracking-wide transition-all duration-300 ease-in-out 
    translate-y-0 transform;
  z-index: 1;
  }

  button:hover {
    @apply bg-white text-black shadow-xl -translate-y-0.5;
  }

  /* a.email-link {
    @apply text-base font-semibold cursor-pointer;
    color: red;
  }
  a.email-link:hover {
    @apply underline;
    text-decoration-color: red;
  } */
}

/* reusable UI */
@layer components {
  .card {
    @apply bg-gray-50 h-fit m-2 mt-20 lg:mt-0 p-8 shadow-lg shadow-black/30 rounded-2xl flex flex-col relative;
  }
  /* Hide scrollbar for Chrome, Safari, Edge */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  .scrollbar-hide {
    scrollbar-width: none;
  }
}
