@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* fluid text needs adjusting */
body {
  @apply transition-colors duration-500 font-sans m-0 p-0 box-border text-[min(3vw,2vh)];
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;

  --font-title: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-subTitle: "Avenir", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-body: "Bitter", system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-main: #79abac;
  --color-alt: #aedbde;
  --color-main-dark: #326263;
  --color-alt-dark: #61999d;
  /* --color-main-dark: #325443;
  --color-alt-dark: #94a264; */
}

@layer base {
  h1 {
    @apply uppercase text-[4em] font-bold text-black dark:text-white;
  }

  h2 {
    @apply uppercase text-[3em] font-bold text-black dark:text-white leading-12;
  }

  h3 {
    @apply uppercase text-[2em] font-medium text-black dark:text-white;
  }

  h4 {
    @apply uppercase text-[1em] font-semibold text-alt dark:text-alt-dark tracking-tighter;
  }

  p {
    @apply text-base leading-[1.1] text-black dark:text-white;
  }

  button {
    @apply uppercase font-semibold text-base leading-[1.0] bg-alt text-black p-4 rounded-[10px] cursor-pointer dark:bg-alt-dark dark:text-black;
  }

  button:hover {
    @apply bg-gray-200;
  }
}

@layer components {
  .card {
    @apply text-black bg-gray-100 dark:bg-main-dark dark:text-white h-fit m-2 mt-20 lg:mt-0 p-8 shadow-xl shadow-gray-500/20 dark:shadow-alt/20 rounded-lg flex flex-col relative;
  }
}